---
title: 'How to Create a Phishing Simulation - Fished'
description: 'Sign up, create a fake phishing email from one of our optimized templates and send it around your business. Learn more here.'
permalink: 'how-it-works/index.html'
---

<section>
  <div class="w-full max-w-screen-xl mx-auto px-6 lg:mb-16">
    <h2 class="text-3xl lg:text-5xl text-gray-900 font-medium leading-tight lg:leading-snug">
      How it works
    </h2>
    <p class="text-xl py-2 mb-16">It's really this easy...</p>
    <div class="flex flex-col lg:flex-row gap-x-8 py-12">
      <div class="w-full flex flex-col justify-center">
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">1. Add your employees</h3>
        <p class="text-xl py-2">
          Import a list of your employee's or add them via the form on the right.
        </p>
      </div>
      <div class="w-full shadow">
        <img src="/assets/images/posts/step-1.png" alt="Step 1 Screenshot" />
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-x-8 py-12">
      <div class="w-full flex flex-col justify-center">
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">2. Edit a template</h3>
        <p class="text-xl py-2">Modify the fields to make it more plausable.</p>
      </div>
      <div class="w-full shadow">
        <img src="/assets/images/posts/step-2.png" alt="Step 2 Screenshot" />
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-x-8 py-12">
      <div class="w-full flex flex-col justify-center">
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">
          3. Edit the sender information
        </h3>
        <p class="text-xl py-2">Set the name and from email address.</p>
      </div>
      <div class="w-full shadow">
        <img src="/assets/images/posts/step-3.png" alt="Step 3 Screenshot" />
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-x-8 py-12">
      <div class="w-full flex flex-col justify-center">
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">4. Schedule the attack</h3>
        <p class="text-xl py-2">
          Select the recipients and schedule a date and time to send the email.
        </p>
      </div>
      <div class="w-full shadow">
        <img src="/assets/images/posts/step-4.png" alt="Step 4 Screenshot" />
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-x-8 py-12">
      <div class="w-full flex flex-col justify-center">
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">5. Watch in real time</h3>
        <p class="text-xl py-2">See how your employees went.</p>
      </div>
      <div class="w-full shadow">
        <img src="/assets/images/posts/step-5.png" alt="Step 5 Screenshot" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="w-full max-w-screen-xl mx-auto px-6 mb-12 lg:mb-24">
    <h2 class="text-3xl lg:text-5xl text-gray-900 font-medium leading-tight lg:leading-snug mb-16">
      Features
    </h2>
    <dl
      class="mt-10 space-y-20 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16"
    >
      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            Fresh template library
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            We're constantly updating the templates available to stay up to date with current trends
            and what we're seeing out in the wild.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            Real-time reporting
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Whenever an employee interacts with an attack, we'll show you what, when and how via
            their user agent and IP address.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            Interative training
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Every month we'll send out brand new simulations to ensure your employees don't forget
            what they've learnt.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            User groups <span class="text-sm">(coming soon)</span>
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            You can group your employees by department, location or anything else then target those
            groups specifically.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            No installation required
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Everything runs from the browser and nothing needs to be installed. If you can read
            this, you're ready to go.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            Modern interface
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            We're using the latest web technology where it makes sense to provide a the best
            experience possible.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            SMS attacks <span class="text-sm">(coming soon)</span>
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            Send phishing attacks via a link inside an SMS message. You can use our custom
            templates, or create your own.
          </dd>
        </div>
      </div>

      <div class="flex">
        <!-- Heroicon name: check -->
        <svg
          class="flex-shrink-0 h-6 w-6 text-indigo-600"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
        <div class="ml-3">
          <dt class="text-lg lg:text-2xl lg:text-xl leading-6 font-medium text-gray-900">
            Bulk import users
          </dt>
          <dd class="mt-2 text-base text-gray-500">
            We can import all your employees in a few seconds, all you need to do is drag and drop a
            .csv file into the employees page.
          </dd>
        </div>
      </div>
    </dl>
  </div>
</section>
