---
title: 'Phishing Simulation & Awareness Training'
description: 'Create a simulated phishing campaign online in minutes, protect your business and train your employees how to identify social engineering attempts.'
permalink: 'index.html'
---

<section class="w-full max-w-screen-xl mx-auto lg:relative">
  <div
    class="px-6 pb-12 bg-gradient-to-b from-blue-200 via-blue-100 to-blue-50 lg:pt-12 lg:pb-20 lg:relative lg:w-8/12"
  >
    <div class="lg:w-5/6 lg:relative z-10">
      <h1
        class="pt-6 text-5xl lg:text-7xl text-gray-900 font-medium leading-tight lg:leading-snug mb-6 lg:mb-4"
      >
        Phishing simulation & awareness training
      </h1>
      <h2 class="text-3xl lg:text-5xl text-gray-900 font-medium leading-tight lg:leading-snug mb-6">
        <span class="text-blue-600">Test</span> and <span class="text-blue-600">train</span> your
        employees. <span class="text-blue-600">Protect</span> your organisation.
      </h2>
      <p class="text-xl mb-6">
        Our cyber security awareness testing and training is the most effective way to beat phishing
        attacks against your company.
      </p>
      <a class="font-medium block btn lg:w-72" href="https://app.fished.io/sign-up">Try for free</a>
    </div>
    <div
      class="hidden lg:block p-6 bg-gradient-to-b from-blue-200 via-blue-100 to-blue-50 lg:h-full lg:absolute lg:top-0 lg:w-full transform -translate-x-1/2"
    ></div>
  </div>

  <div
    class="p-6 pb-0 lg:p-0 lg:mt-32 lg:absolute lg:top-0 lg:right-0 lg:w-7/12 lg:transform lg:translate-x-56 lg:shadow-lg"
  >
    <div class="embed-responsive aspect-ratio-16/9">
      <iframe
        class="embed-responsive-item bg-gray-900"
        title="Explainer Video - Fished.io"
        data-src="https://player.vimeo.com/video/498615042"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>

<section>
  <div class="w-full max-w-screen-xl mx-auto px-6 py-12 lg:py-20">
    <h2
      class="text-3xl lg:text-5xl text-gray-900 font-medium leading-tight lg:leading-snug mb-16 lg:mb-20"
    >
      <span class="text-blue-600">Safeguarding</span> your business is easier than you think
    </h2>
    <div class="flex flex-col lg:flex-row">
      <div class="flex flex-col w-full mb-12 lg:mr-10">
        <img src="assets/images/posts/build.png" alt="Building Blocks Artwork" class="w-36 mb-6" />
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">
          Build a fake phishing attack
        </h3>
        <p class="text-xl">
          Choose from one of our optimized templates and create a phishing campaign in less than 5
          minutes.
        </p>
      </div>
      <div class="flex flex-col w-full mb-12 lg:mr-10">
        <img src="assets/images/posts/send.png" alt="Building Blocks Artwork" class="w-36 mb-6" />
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">
          Send around your company
        </h3>
        <p class="text-xl">
          Import your employee emails, hit send and watch the open and click stats update in real
          time.
        </p>
      </div>
      <div class="flex flex-col w-full mb-6 lg:mb-12 lg:mr-10">
        <img src="assets/images/posts/train.png" alt="Building Blocks Artwork" class="w-36 mb-6" />
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">Train those who need it</h3>
        <p class="text-xl">
          If an employee fails to identify the phishing attempt, we'll show them what they did
          wrong.
        </p>
      </div>
    </div>
    <a
      class="text-2xl underline text-blue-700 hover:text-blue-600 transition-colors"
      href="/how-it-works/"
    >
      Learn how it works →
    </a>
  </div>
</section>

<section>
  <div class="w-full max-w-screen-xl mx-auto px-6 py-12 lg:pb-20">
    <div class="mb-6 lg:pb-16 lg:flex lg:items-center lg:justify-between">
      <div>
        <h2 class="text-3xl lg:text-5xl text-gray-900 font-medium leading-tight lg:leading-snug">
          <span class="text-blue-600">Fire drills</span> for phishing attacks
        </h2>
        <p class="mt-5 text-xl text-gray-500">
          Educate your team to the risks of clicking links, downloading attachments, and
          automatically clicking reply.
        </p>
      </div>
    </div>
    <div class="lg:grid lg:grid-cols-3 lg:gap-x-8">
      <div>
        <h3 class="text-2xl lg:text-3xl text-gray-900 font-medium my-2">
          <span class="text-gray-900">Everything for </span>
          <span class="text-blue-600">$129 a month</span>
        </h3>
        <p class="my-4 text-lg text-gray-500">
          If you're a small to medium sized businesses with 100 employees or less.
        </p>
        <a
          class="text-2xl underline text-blue-700 hover:text-blue-600 transition-colors"
          href="/pricing/"
        >
          See pricing →
        </a>
      </div>
      <div class="mt-6 md:grid md:grid-cols-2 md:gap-x-8 lg:mt-4 lg:col-span-2">
        <ul class="divide-y divide-gray-200">
          <li class="py-4 flex md:py-0 md:pb-4">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Run unlimited phishing simulations</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500"> Customisable emails templates </span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500"> Sender spoofing for targeted attacks </span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Track who clicks, reports or opens</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500"> Educate employees that get caught out </span>
          </li>
        </ul>
        <ul class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
          <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Easy to use, modern interface</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Bulk import employees via csv</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Schedule when emails are sent</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Optimized for Australian businesses</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span class="ml-3 text-lg text-gray-500">Set up takes less than 5 minutes</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
  function init() {
    var vidDefer = document.getElementsByTagName('iframe');
    for (var i = 0; i < vidDefer.length; i++) {
      if (vidDefer[i].getAttribute('data-src')) {
        vidDefer[i].setAttribute('src', vidDefer[i].getAttribute('data-src'));
      }
    }
  }
  window.onload = init;
</script>
