---
title: 'Terms Of Service'
description: 'Read about our website usage terms and conditions. These include your obligations and our warranty.'
permalink: 'terms-of-service/index.html'
---

<article class="w-full max-w-screen-xl mx-auto px-6 text-xl py-5 lg:mb-20">
  <header>
    <h1 class="font-bold text-3xl text-gray-800">Terms Of Use</h1>
  </header>

  <section class="content">
    <h4>About the Website</h4>
    <p>
      The Website is operated by Fished. Access to and use of the Website, or any of its associated
      Products or Services, is provided by Fished. Please read these terms and conditions (the
      '<strong>Terms</strong>') carefully. By using, browsing and/or reading the Website, this
      signifies that you have read, understood and agree to be bound by the Terms. If you do not
      agree with the Terms, you must cease usage of the Website, or any of Services, immediately.
    </p>
    <p>
      Fished reserves the right to review and change any of the Terms by updating this page at its
      sole discretion. When Fished updates the Terms, it will use reasonable endeavours to provide
      you with notice of updates to the Terms. Any changes to the Terms take immediate effect from
      the date of their publication. Before you continue, we recommend you keep a copy of the Terms
      for your records.
    </p>
    <h4>Acceptance of the Terms</h4>
    <p>
      You accept the Terms by remaining on the Website. You may also accept the Terms by clicking to
      accept or agree to the Terms where this option is made available to you by Fished in the user
      interface.
    </p>
    <h4>Registration to use the Purchase Services</h4>
    <p>
      In order to access the Purchase Services, you must first register as a user of the Website. As
      part of the registration process, or as part of your continued use of the Purchase Services,
      you may be required to provide personal information about yourself (such as identification or
      contact details), including:
    </p>
    <ol type="i">
      <li>Email address</li>
      <li>Phone number</li>
      <li>Password</li>
    </ol>
    <p>
      You warrant that any information you give to Fished in the course of completing the
      registration process will always be accurate, correct and up to date.
    </p>
    <p>
      Once you have completed the registration process, you will be a registered member of the
      Website ('<strong>Member</strong>') and agree to be bound by the Terms. As a Member you will
      be granted immediate access to the Purchase Services
    </p>
    <p>You may not use the Purchase Services and may not accept the Terms if:</p>
    <ol type="i">
      <li>you are not of legal age to form a binding contract with Fished; or</li>
      <li>
        you are a person barred from receiving the Purchase Services under the laws of Australia or
        other countries including the country in which you are resident or from which you use the
        Purchase Services.
      </li>
    </ol>
    <h4>Your obligations as a Member</h4>
    <p>
      As a Member, you agree to comply with the following: You will use the Purchase Services only
      for purposes that are permitted by:
    </p>
    <ol type="i">
      <li>the Terms;</li>
      <li>
        any applicable law, regulation or generally accepted practices or guidelines in the relevant
        jurisdictions;
      </li>
      <li>
        you have the sole responsibility for protecting the confidentiality of your password and/or
        email address. Use of your password by any other person may result in the immediate
        cancellation of the Purchase Services;
      </li>
      <li>
        you have the sole responsibility for protecting the confidentiality of your password and/or
        email address. Use of your password by any other person may result in the immediate
        cancellation of the Purchase Services;
      </li>
      <li>
        access and use of the Website is limited, non-transferable and allows for the sole use of
        the Website by you for the purposes of Fished providing the Purchase Services;
      </li>
      <li>
        you will not use the Purchase Services or Website for any illegal and/or unauthorised use
        which includes collecting email addresses of Members by electronic or other means for the
        purpose of sending unsolicited email or unauthorised framing of or linking to the Website;
      </li>
      <li>
        you agree that commercial advertisements, affiliate links, and other forms of solicitation
        may be removed from the Website without notice and may result in termination of the Purchase
        Services. Appropriate legal action will be taken by Fished for any illegal or unauthorised
        use of the Website; and
      </li>
      <li>
        you acknowledge and agree that any automated use of the Website or its Purchase Services is
        prohibited.
      </li>
    </ol>
    <h4>Purchase of Products</h4>
    <p>
      In using the Purchase Services to purchase the Product through the Website, you will agree to
      the payment of the purchase price listed on the Website for the Product (the '<strong
        >Purchase Price</strong
      >').
    </p>
    <p>
      Payment of the Purchase Price may be made through Stripe (the '<strong
        >Payment Gateway Provider</strong
      >'). In using the Purchase Services, you warrant that you have familiarised yourself with, and
      agree to be bound by, the applicable Terms and Conditions of Use, Privacy Policy and other
      relevant legal documentation provided by the Payment Gateway Providers.
    </p>
    <p>
      Following payment of the Purchase Price being confirmed by Fished, you will be issued with a
      receipt to confirm that the payment has been received and Fished may record your purchase
      details for future use.
    </p>
    <h4>Copyright and Intellectual Property</h4>
    <p>
      The Website, the Purchase Services and all of the related products of Fished are subject to
      copyright. The material on the Website is protected by copyright under the laws of Australia
      and through international treaties. Unless otherwise indicated, all rights (including
      copyright) in the site content and compilation of the website (including text, graphics,
      logos, button icons, video images, audio clips and software) (the <strong>Content</strong>')
      are owned or controlled for these purposes, and are reserved by Fished or its contributors.
    </p>
    <p>
      Fished retains all rights, title and interest in and to the Website and all related content.
      Nothing you do on or in relation to the Website will transfer to you:
    </p>
    <ol type="i">
      <li>
        the business name, trading name, domain name, trade mark, industrial design, patent,
        registered design or copyright of Fished; or
      </li>
      <li>
        the right to use or exploit a business name, trading name, domain name, trade mark or
        industrial design; or
      </li>
      <li>
        a system or process that is the subject of a patent, registered design or copyright (or an
        adaptation or modification of such a system or process).
      </li>
    </ol>
    <p>
      You may not, without the prior written permission of Fished and the permission of any other
      relevant rights owners: broadcast, republish, up-load to a third party, transmit, post,
      distribute, show or play in public, adapt or change in any way the Content or third party
      content for any purpose. This prohibition does not extend to materials on the Website, which
      are freely available for re-use or are in the public domain.
    </p>
    <h4>Privacy</h4>
    <p>
      Fished takes your privacy seriously and any information provided through your use of the
      Website and/or the Purchase Services are subject to Fished's Privacy Policy, which is
      available on the Website at: <a href="/privacy-policy/">https://fished.io/privacy-policy</a>
    </p>
    <h4>Warranty</h4>
    <p>
      Use of the Website, the Purchase Services, and any of the products of Fished, is at your own
      risk. Everything on the Website, the Purchase Services, and the Products of Fished, are
      provided to you on an "as is" and "as available" basis, without warranty or condition of any
      kind. None of the affiliates, directors, officers, employees, agents, contributors, third
      party content providers or licensors of Fished make any express or implied representation or
      warranty about its Content or any products or Purchase Services (including the products or
      Purchase Services of Fished) referred to on the Website. This includes (but is not restricted
      to) loss or damage you might suffer as a result of any of the following:
    </p>
    <ol type="i">
      <li>
        failure of performance, error, omission, interruption, deletion, defect, failure to correct
        defects, delay in operation or transmission, computer virus or other harmful component, loss
        of data, communication line failure, unlawful third party conduct, or theft, destruction,
        alteration or unauthorised access to records;
      </li>
      <li>
        the accuracy, suitability or currency of any information on the Website, the Purchase
        Service, or any of its Content related products (including third party material and
        advertisements on the Website);
      </li>
      <li>
        costs incurred as a result of you using the Website, the Purchase Services or any of the
        Products;
      </li>
      <li>
        the Content or operation in respect to links which are provided for the User's convenience;
      </li>
      <li>
        any failure to complete a transaction, or any loss arising from ecommerce transacted on the
        Website; or
      </li>
      <li>
        any defamatory, threatening, offensive or unlawful conduct of third parties or publication
        of any materials relating to or constituting such conduct.
      </li>
    </ol>
    <h4>Limitation of Liability</h4>
    <p>
      The Terms will continue to apply until terminated by either you or by Fished as set out below.
    </p>
    <p>If you want to terminate the Terms, you may do so by:</p>
    <ol type="i">
      <li>notifying Fished at any time; and</li>
      <li>
        closing your accounts for all of the Purchase Services which you use, where Fished has made
        this option available to you
      </li>
    </ol>
    <p>
      Your notice should be sent in writing to:
      <a href="mailto:terms@fished.io">terms@fished.io</a>
    </p>
    <p>Fished may at any time, terminate the Terms with you if:</p>
    <ol type="i">
      <li>you have breached any provision of the Terms or intend to breach any provision;</li>
      <li>Fished is required to do so by law;</li>
      <li>
        the partner with whom Fished offered the Purchase Services to you has terminated its
        relationship with Fished or ceased to offer the Purchase Services to you;
      </li>
      <li>
        Fished is transitioning to no longer providing the Purchase Services to Users in the country
        in which you are resident or from which you use the service; or
      </li>
      <li>
        the provision of the Purchase Services to you by Fished is, in the opinion of Fished, no
        longer commercially viable.
      </li>
    </ol>
    <p>
      Subject to local applicable laws, Fished reserves the right to discontinue or cancel your
      membership to the Website at any time and may suspend or deny, in its sole discretion, your
      access to all or any portion of the Website or the Purchase Services without notice if you
      breach any provision of the Terms or any applicable law or if your conduct impacts Fished's
      name or reputation or violates the rights of those of another party.
    </p>
    <p>
      When the Terms come to an end, all of the legal rights, obligations and liabilities that you
      and Fished have benefited from, been subject to (or which have accrued over time whilst the
      Terms have been in force) or which are expressed to continue indefinitely, shall be unaffected
      by this cessation, and the provisions of this clause shall continue to apply to such rights,
      obligations and liabilities indefinitely.
    </p>
    <h4>Indemnity</h4>
    <p>
      You agree to indemnify Fished, its affiliates, employees, agents, contributors, third party
      content providers and licensors from and against:
    </p>
    <ol type="i">
      <li>
        all actions, suits, claims, demands, liabilities, costs, expenses, loss and damage
        (including legal fees on a full indemnity basis) incurred, suffered or arising out of or in
        connection with any Content you post through the Website;
      </li>
      <li>
        any direct or indirect consequences of you accessing, using or transacting on the Website or
        attempts to do so and any breach by you or your agents of these Terms; and/or
      </li>
      <li>any breach of the Terms.</li>
    </ol>
    <h4>Dispute Resolution</h4>
    <p>
      Compulsory: If a dispute arises out of or relates to the Terms, either party may not commence
      any Tribunal or Court proceedings in relation to the dispute, unless the following clauses
      have been complied with (except where urgent interlocutory relief is sought).
    </p>
    <p>
      Notice: A party to the Terms claiming a dispute ('<strong>Dispute</strong>') has arisen under
      the Terms, must give written notice to the other party detailing the nature of the dispute,
      the desired outcome and the action required to settle the Dispute.
    </p>
    <p>
      Resolution: On receipt of that notice ('<strong>Notice</strong>') by that other party, the
      parties to the Terms ('<strong>Parties</strong>') must:
    </p>
    <ol type="i">
      <li>
        Within 30 days of the Notice endeavour in good faith to resolve the Dispute expeditiously by
        negotiation or such other means upon which they may mutually agree;
      </li>
      <li>
        If for any reason whatsoever, 30 days after the date of the Notice, the Dispute has not been
        resolved, the Parties must either agree upon selection of a mediator or request that an
        appropriate mediator be appointed by the President of the Australian Mediation Association
        or his or her nominee;
      </li>
      <li>
        The Parties are equally liable for the fees and reasonable expenses of a mediator and the
        cost of the venue of the mediation and without limiting the foregoing undertake to pay any
        amounts requested by the mediator as a pre-condition to the mediation commencing. The
        Parties must each pay their own costs associated with the mediation;
      </li>
      <li>The mediation will be held in Sydney, Australia.</li>
    </ol>
    <p>
      Confidential: All communications concerning negotiations made by the Parties arising out of
      and in connection with this dispute resolution clause are confidential and to the extent
      possible, must be treated as "without prejudice" negotiations for the Approved by purpose of
      applicable laws of evidence.
    </p>
    <p>
      Termination of Mediation: If 6 months have elapsed after the start of a mediation of the
      Dispute and the Dispute has not been resolved, either Party may ask the mediator to terminate
      the mediation and the mediator must do so.
    </p>
    <h4>Venue and Jurisdiction</h4>
    <p>
      The Purchase Services offered by Fished is intended to be viewed by residents of Australia. In
      the event of any dispute arising out of or in relation to the Website, you agree that the
      exclusive venue for resolving any dispute shall be in the courts of New South Wales,
      Australia.
    </p>
    <h4>Governing Law</h4>
    <p>
      The Terms are governed by the laws of New South Wales, Australia. Any dispute, controversy,
      proceeding or claim of whatever nature arising out of or in any way relating to the Terms and
      the rights created hereby shall be governed, interpreted and construed by, under and pursuant
      to the laws of New South Wales Australia, without reference to conflict of law principles,
      notwithstanding mandatory rules. The validity of this governing law clause is not contested.
      The Terms shall be binding to the benefit of the parties hereto and their successors and
      assigns.
    </p>
    <h4>Independent Legal Advice</h4>
    <p>
      Both parties confirm and declare that the provisions of the Terms are fair and reasonable and
      both parties having taken the opportunity to obtain independent legal advice and declare the
      Terms are not against public policy on the grounds of inequality or bargaining power or
      general grounds of restraint of trade.
    </p>
    <h4>Severance</h4>
    <p>
      If any part of these Terms is found to be void or unenforceable by a Court of competent
      jurisdiction, that part shall be severed and the rest of the Terms shall remain in force.
    </p>
  </section>
</article>
